#movie-box,
#review-box {
  background-color: rgb(233, 233, 233);
}
#review-box p {
  margin-left: 12px;
  margin-right: 10px;
}
h2 {
  color: #5c01a2;
}
p,
h1,
h2,
h3 {
  font-family: "Open Sans", Arial, sans-serif;
  z-index: 1;
}
p {
  margin-bottom: 20px;
}
h2 {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}
h3 {
  font-weight: 600;
  font-size: 18px;
}
p {
  font-weight: 300;
  font-size: 16px;
}

@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic);

html, body {
  z-index: 1;
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.background-image {
  z-index: 1000;
   width: 110%;
  height: 110%;
  left: 0;
  top: 0;
  opacity: 50%;
  position: absolute;
  background: url('https://images.unsplash.com/photo-1452723312111-3a7d0db0e024?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450.jpg') no-repeat left center / cover;
}

/* Not needed styles */

 